# See https://github.com/grafana/alloy/blob/main/operations/helm/charts/alloy/values.yaml

alloy:
  controller:
    type: "deployment"
  alloy:
    extraPorts:
      - name: syslog
        port: 1513
        targetPort: 1513
        protocol: TCP
    stabilityLevel: "experimental"
    configMap:
      content: |-
        logging {
          level  = "debug"
          format = "logfmt"
        }
        loki.source.syslog "syslog_tcp" {
          listener {
            address = "0.0.0.0:1513"
            protocol  = "tcp"
            syslog_format = "rfc5424"
          }
          forward_to = [otelcol.receiver.loki.default.receiver]
        }
        otelcol.receiver.loki "default" {
          output {
            logs = [otelcol.exporter.awss3.logs.input]
          }
        }
        otelcol.exporter.awss3 "logs" {
          s3_uploader {
            region = "us-east-1"
            s3_bucket = "logs_bucket"
            s3_prefix = "logs"
          }
        }
