# See https://github.com/grafana/alloy/blob/main/operations/helm/charts/alloy/values.yaml

alloy:
  controller:
    type: "deployment"
  service:
    type: LoadBalancer
    annotations:
      external-dns.alpha.kubernetes.io/hostname: syslog.example.com
  alloy:
    extraEnv:
      - name: AWS_ACCESS_KEY_ID
        valueFrom:
          secretKeyRef:
            name: s3-credentials
            key: access_key_id
      - name: AWS_SECRET_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: s3-credentials
            key: secret_access_key
    extraPorts:
      - name: syslog
        port: 1513
        targetPort: 1513
        protocol: TCP
      - name: syslog-udp
        port: 1515
        targetPort: 1515
        protocol: UDP
    stabilityLevel: "experimental"
    configMap:
      content: |-
        logging {
          level  = "debug"
          format = "logfmt"
        }
        loki.source.syslog "syslog_tcp" {
          listener {
            address = "0.0.0.0:1513"
            protocol  = "tcp"
            syslog_format = "rfc3164"
          }
          forward_to = [otelcol.receiver.loki.default.receiver]
        }
        loki.source.syslog "syslog_udp" {
          listener {
            address = "0.0.0.0:1515"
            protocol  = "udp"
            syslog_format = "rfc5424"
          }
          forward_to = [otelcol.receiver.loki.default.receiver]
        }
        otelcol.receiver.loki "default" {
          output {
            logs = [otelcol.exporter.awss3.logs.input]
          }
        }
        otelcol.exporter.awss3 "logs" {
          marshaler {
            type = "otlp_json"
          }
          sending_queue {
            enabled = true
            queue_size = 1000
            sizer = "items"
            batch {
              min_size = 10
              max_size = 100
              sizer = "items"
              flush_timeout = "10s"
            }
          }
          s3_uploader {
            region = "us-east-1"
            s3_bucket = "tewing-syslog-test"
            s3_prefix = "logs"
          }
        }
