# see https://github.com/serhanekicii/openclaw-helm/blob/main/charts/openclaw/values.yaml

openclaw:
  app-template:
    controllers:
      main:
        containers:
          main:
            envFrom:
              - secretRef:
                  name: openclaw-env-secret
