alloy:
  controller:
    # -- Type of controller to use for deploying Grafana Alloy in the cluster.
    # Must be one of 'daemonset', 'deployment', or 'statefulset'.
    type: "deployment"
  alloy:
    configMap:
      content: |-
        logging {
          level  = "debug"
          format = "logfmt"
        }
        loki.write "LABEL" {
          endpoint {
            url = "http://foo.com/"
          }
        }
        loki.source.syslog "rsyslog_tcp" {
          listener {
            address   = "0.0.0.0:1514"
            protocol  = "tcp"
            use_incoming_timestamp = false
            idle_timeout = "120s"
            label_structured_data = true
            use_rfc5424_message = true
            max_message_length = 8192
            syslog_format = "rfc5424"
            labels    = {
              source = "rsyslog_tcp",
              protocol = "tcp",
              format = "rfc5424",
              port = "1514",
              service_name = "syslog_rfc5424_1514_tcp",
            }
          }    relabel_rules = loki.relabel.remote_syslog.rules
              forward_to = [loki.write.grafana_loki.receiver]
        }
        loki.relabel "remote_syslog" {
            rule {
                source_labels = ["__syslog_message_hostname"]
                target_label  = "host"
            }    rule {
                source_labels = ["__syslog_message_hostname"]
                target_label  = "hostname"
            }    rule {
                source_labels = ["__syslog_message_severity"]
                target_label  = "level"
            }    rule {
                source_labels = ["__syslog_message_app_name"]
                target_label  = "application"
            }    rule {
                source_labels = ["__syslog_message_facility"]
                target_label  = "facility"
            }    rule {
                source_labels = ["__syslog_connection_hostname"]
                target_label  = "connection_hostname"
            }  forward_to = [loki.process.syslog_processor.receiver]
        }
