alloy:
  controller:
    # -- Type of controller to use for deploying Grafana Alloy in the cluster.
    # Must be one of 'daemonset', 'deployment', or 'statefulset'.
    type: "deployment"
  alloy:
    configMap:
      content: |-
        logging {
          level  = "debug"
          format = "logfmt"
        }
        loki.source.syslog "syslog_tcp" {
          listener {
            address = "0.0.0.0:1513"
            protocol  = "tcp"
            syslog_format = "rfc5424"
          }
          forward_to = [s3data]
        }
        remote.s3 "s3data" {
          path = "s3://tewing-syslog-test/"
        }
