alloy:
  controller:
    # -- Type of controller to use for deploying Grafana Alloy in the cluster.
    # Must be one of 'daemonset', 'deployment', or 'statefulset'.
    type: "deployment"

  configMap:
    content: |-
      loki.write "LABEL" {
        endpoint {
          url = "http://foo.com/"
        }
      }
