# see https://github.com/CloudPirates-io/helm-charts/blob/main/charts/keycloak/values.yaml

keycloak:
  replicaCount: 3
  image:
    tag: "26.5"

  keycloak:
    hostname: "keycloak.example.com"
    existingSecret: "keycloak-credentials"
    secretKeys:
      adminPasswordKey: "admin-password"
    httpEnabled: true
    httpsEnabled: false
    production: true
    proxyHeaders: "xforwarded"

  database:
    type: "postgres"
    host: "postgres-rw.postgres.svc"
    name: keycloak
    existingSecret: "keycloak-db-credentials"
    secretKeys:
      passwordKey: "db-password"
      usernameKey: "db-username"

  postgres:
    enabled: false

  ingress:
    enabled: true
    className: "traefik"
    annotations:
      #   external-dns.alpha.kubernetes.io/ingress-hostname-source: defined-hosts-only
      #   external-dns.alpha.kubernetes.io/target: nginx-ingress-internal-mng.ia.postmanlabs.com
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hosts:
      - host: keycloak.te-lab.org
        paths:
          - path: /
            pathType: Prefix
    # tls:
    #   - secretName: zzz-tls
    #     hosts:
    #       - keycloak.example.com

  persistence:
    enabled: false
